apiVersion: 1

groups:
  - orgId: 1
    name: preorder-alerts
    folder: Preorder
    interval: 1m
    rules:
      - uid: preorder-down
        title: Preorder Service Down
        condition: C
        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: up{job="preorder"} == 0
              instant: true
          - refId: C
            datasourceUid: __expr__
            model:
              type: classic_conditions
              conditions:
                - evaluator:
                    type: gt
                    params: [0]
                  operator:
                    type: and
                  query:
                    params: [A]
                  reducer:
                    type: last
        noDataState: Alerting
        execErrState: Alerting
        for: 1m
        annotations:
          summary: "Preorder service is not reachable"

      - uid: preorder-log-errors
        title: Preorder Errors In Logs
        condition: C
        data:
          - refId: A
            datasourceUid: loki
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: '{job="varlogs"} |= "ERROR"'
              instant: false
          - refId: C
            datasourceUid: __expr__
            model:
              type: classic_conditions
              conditions:
                - evaluator:
                    type: gt
                    params: [0]
                  operator:
                    type: and
                  query:
                    params: [A]
                  reducer:
                    type: count
        noDataState: OK
        execErrState: Alerting
        for: 1m
        annotations:
          summary: "Errors found in service logs"
