# macOS
.DS_Store

# Maven
**/target/

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Node
node_modules/

# OS / temp
*.tmp
*.swp
*~

# Docker
**/pgdata/

# Selenium reports
**/surefire-reports/

# Env files
.env
