services:
  selenium:
    image: selenium/standalone-chrome:4.17.0
    ports:
      - "4444:4444"
    networks:
      - preorder_net

  ui-tests:
    image: maven:3.9.6-eclipse-temurin-17
    working_dir: /tests
    volumes:
      - ./:/tests
    environment:
      REMOTE_URL: http://selenium:4444/wd/hub
      BASE_URL: http://preorder:8080
    depends_on:
      - selenium
    networks:
      - preorder_net
    command: ["bash", "-lc", "sleep 5; mvn -f pom.xml test"]

networks:
  preorder_net:
    external: true
